<!--The content below is only a placeholder and can be replaced.-->
<h1>Task Manager</h1>

  
<nav class="navbar navbar-expand-lg navbar-light bg-light">


            <!-- Links -->
            <table>
              <tr class="nav">
                <td class="nav-item">
                    <a [routerLink]="'/addtask'" class="nav-link">Add Task</a>
                </td> 
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>               
                <td class="nav-item">
                    <a [routerLink]="'/viewtask'" class="nav-link">View Task</a>
                </td>
              </tr>
            </table>                       
                     
          
          </nav> 
      
    

<router-outlet></router-outlet>