<h2>View Task</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <span class="form-label"><b>Task :</b></span>
      <input type="text" class="form-control" [(ngModel)]="filterCriteria.Task" (input)='Search()'>
    </div>
    <div class="col-md-6">
      <span class="form-label"><b>Parent Task :</b></span>
      <input type="text"  class="form-control" [(ngModel)]="filterCriteria.ParentTask" (input)='Search()'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <td><span class="form-label"><b>Priority From:</b></span></td>
          <td><input type="text" class="form-control" [(ngModel)]="filterCriteria.PriorityFrom" (input)='Search()'></td>
          <td>
              <span class="form-label"><b>Priority To:</b></span>
          </td>
          <td>
              <input type="text" class="form-control" [(ngModel)]="filterCriteria.PriorityTo" (input)='Search()'>
          </td>
          <td><span><b>Start Date :</b></span></td>
    <td><input type="date" class="form-control" [(ngModel)]="filterCriteria.StartDate" (input)='Search()'></td>
    <td><span><b>End Date :</b></span></td>
    <td><input type="date" class="form-control" [(ngModel)]="filterCriteria.EndDate" (input)='Search()'></td>
        </tr>
      </table>         
    </div>
    
    
  </div>
  <br>
  <br> 

<div class="container">
  <table>
      <tbody *ngFor="let item of filteredList">
          <tr>
            <td>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Task</th>
                        <th>Parent</th>                        
                        <th>Start</th>
                        <th>End</th>
                        <th>Priority</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td><div class="well">{{item.TaskDesc}}</div></td>
                      
                        <td><div class="well">{{item.ParentTask.ParentTaskDesc}}</div></td>                        
                        <td>{{item.StartDate|date}}</td>
                        <td>{{item.EndDate|date}}</td>
                        <td>{{item.Priority}}</td>
                        <td><input type="button" value="Edit" (click)='Edit(item.TaskID)' [disabled]="item.TaskStatus"></td>
                        <td><input type="button" value="End Task" (click)='EndTask(item.TaskID)' [disabled]="item.TaskStatus"></td>
                      </tr>
                    </tbody>
                  </table>
            </td>
            </tr>
    </tbody>    
  </table>
    
    
  </div>